!!!
%html
  %head
    %link{ :href => "/styles/fonts.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/styles/chart.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :rel => "shortcut icon", :href => "http://24.media.tumblr.com/avatar_b25e54a5feb5_16.png" }
    %meta{ :content => "Sam MacCutchan", :name => "author" }
    %title Sam Edward Wilson MacCutchan - sewm.org

  %body
    %h1 Sam Edward Wilson MacCutchan
    
    %table
      %tr
        %th Date:       
        %th Price: 
        %th Units:
      %tr
        %td= @date
        %td= @price
        %td= @units